/*------------------------ NOTICIAS ------------------------*/
.view-bloque-noticias {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-bloque-noticias .views-row {
  display: inline-block;
  vertical-align: top;
  max-width: 80px;
  margin-right: 10px;
}

.view-bloque-noticias .views-row .views-field-field-image {
  height: 70px;
  overflow: hidden;
}

.view-bloque-noticias .views-row .views-field-field-image img {
  margin: 0 auto;
}

.view-bloque-noticias .views-row .views-field-title {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}

.view-bloque-noticias .views-row .views-field-title a {
  color: #626262;
}

.view-bloque-noticias .views-row .views-field-title a:hover {
  color: #26A5EA;
}
