/*Bloque entidades*/

.view-bloque-entidades {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-bloque-entidades .views-row {
  display: inline-block;
}

.view-bloque-entidades .views-row .views-field-field-enlace {

}

.view-bloque-entidades .views-row .views-field-field-enlace .field-content {
  width: 82px;
  height: 82px;
  background-color: #ffffff;
  display: table;
}

.view-bloque-entidades .views-row .views-field-field-enlace .field-content a {
  display: table-cell;
  vertical-align: middle;
}
