.views-element-container .view-entidades {
  padding: 1.5em;
}

.region .entidad .content {
  padding: 1.5em;
}

.field--name-body {
  font-size: 16px;
}

.field--name-field-sigla .field--label {
  display: inherit;
  color: #E51A83;
  border-bottom: 0.1em solid #E51A83;
  margin: 1em 0 10px;
  font-size: 20px;

}

.field--name-field-enlace .field--label {
  display: inherit;
  color: #E51A83;
  border-bottom: 0.1em solid #E51A83;
  margin: 1em 0 10px;
  font-size: 20px;
}

.field--name-field-image .field--label {
  display: inherit;
  color: #E51A83;
  border-bottom: 0.1em solid #E51A83;
  margin: 1em 0 10px;
  font-size: 20px;
}

.field--name-field-sigla .field--item {
  font-size: 18px;
}
.field--name-field-enlace .field--item {
  font-size: 18px;
}
