.noticia {
  padding: 1.5em;
}

.view-noticias {
  padding: 1.5em;
}

.noticia .img-responsive {
  width: 50em;
  height: 35em;
  display: block;
  margin: auto;
  padding: 0.5em;
}

.view-bloque-noticias .img-responsive {
  width: 5em;
  height: 4em;
}
