@font-face {
font-family: 'Helvetica Neue Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Light'), url('../fonts/helvetica-neue/HelveticaNeueLight.woff') format('woff');
}
@font-face {
font-family: 'Helvetica 55 Roman';
font-style: normal;
font-weight: normal;
src: local('Helvetica 55 Roman'), url('../fonts/helvetica-neue/HelveticaNeue-Roman.woff') format('woff');
}
@font-face {
font-family: 'Helvetica 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('Helvetica 85 Heavy'), url('../fonts/helvetica-neue/HelveticaNeue-Heavy.woff') format('woff');
}


/* ==============================================================================================
*
*                                IDEAT Styles LANDING PRINCIPAL
*
* ============================================================================================== */
#page{
  overflow-x: hidden;
}
/*------------------- MENU ------------------------*/

.ideat-pic{
	max-width: 150px;
}
.menu-1{
	padding: 15px 0px;
}
.ham-menu{
	padding: 15px 0px;
}
.login-cta{
	background-color: #26A5EA;
	border: none;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 10px 30px !important;
    height: 34px;
}
.login-cta:hover{
	background-color: #268AC1;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-o-transition: background-color .5s;
  	transition: background-color .5s;
}
@media (max-width: 770px){
	.login-cta{
		margin: 1em 0;
	}
}

/*------------------- HEADER ------------------------*/

.header-home{
	background-image: url("../images/bo-bg1.jpg");
	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 2em;
 	max-height: 400px;
 	color: #ffffff;
}
.head-title1{
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: lighter;
}
.head-title2{
	color: #ffffff;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.head-text{
	font-size: 16px;
	max-width: 575px;
}

@media (max-width: 600px){
	.header-home{
		padding: 3em;
	}
}

/*------------------- ICON SECTION ------------------------*/

.icon-section{
	padding: 30px 0 0;
}
.icon{
	text-align: center;
}
.icon-pic{
	max-width: 100px;
}
.link-icon-text{
	font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	line-height: 16px;
	padding-top: 10px;
	text-align: center;
}
.vg{
	color: #F63A3A;
}
.cm{
	color: #F6C933;
}
.vl{
	color: #95BC6D;
}
.gc{
	color: #26A5EA;
}

/*-- NEWS SECTION --*/

.news-box{
	padding:0 15px;
	border: 1px solid #626262;
}
.news-box .icon-news{
  font-size: 20px;
  display: inline-block;
}
.news-box h3{
  font-size: 18px;
  margin-bottom: 10px;
	padding: 15px 0 0 0px;
	color: #626262;
  display: inline-block;
}
.new-field{
	text-align: center;
  display: inline-block;
}
.new-field img{
	max-width: 80px;
}
.new-field h4{
	font-size: 12px;
  margin-bottom: 10px;
	padding-top: 10px;
  color: #626262;
}
.news-box hr{
	border: .5px solid #626262;
	margin: 0;
}
.event-title{
	padding: 15px 0 0 0px;
	color: #626262;
	font-size: 15px;
  margin-bottom: 12px;
}
.event-link{
	padding: 15px 0 0;
	text-align: right;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.event-text{
  color: #626262;
  font-size: 12px;
  padding: 0;
}
/*------------------- ENTIDADES ------------------------*/
.ent-section{
	padding: 30px 0;
	background-color: #ADADAD;
}
.ent-box2{
  text-align: right;
}
.ent-title1{
	padding-top: 15px;
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 5px;
	font-weight: lighter;
}
.ent-title2{
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 5px;
	font-weight: bold;
}
.ent-box2 img{
	max-width: 82px;
}


/*------------------- INFO PROYECTO ------------------------*/
.icde-section{
	padding: 30px 0;
}
.icde-img{
	text-align: center;
}
.icde-img img{
	max-width: 80px;
}
.text-icde{
	color: #ADADAD;
}
.icde-section hr{
	opacity: .5;
	max-width: 1170px;
}
.agency-section{}
.agency-box{
	text-align: center;
}
.agency-box img{
	max-width: 300px;
}
.done-box{
	text-align: center;
}
.done-box img{
	max-width: 350px;
}


/*------------------- SUB-FOOTER ------------------------*/
.subfooter{
	background-color: #eeeeee;
	padding: 30px 0;
}
.subfooter hr{
	border: .5px solid #626262;
  margin: .5em 0;
}
.info-contact{
}
.info-contact h3{
	font-size: 16px;
	color: #626262;
	font-weight: lighter;
	line-height: 10px;
}
.info-contact img{}
.redes{
}
.redes h3{
	font-size: 16px;
	color: #626262;
	font-weight: lighter;
	line-height: 10px;
}
.redes img{}
.suscribe-box{
	text-align: right;
}
.suscribe-btn{
	font-size: 20px;
	color: #ffffff;
	background-color: #26A5EA;
	padding: 10px 40px;
}
.suscribe-btn:hover{
	color: #ffffff;
	background-color: #1A7FB5;
}

/*------------------- FOOTER ------------------------*/
footer{
	background-color: #4B4B4B;
	padding: 1.5em 0;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
  /*position: relative;
  width: 100%;
  bottom: 0px;*/
}
.icon-redes{
  font-size: 25px;
  padding-right: 1em;
}


/* =============================================================
*
*               INTERNAS Styles LANDING PRINCIPAL
*
* ============================================================= */

/*------------------------ INTERNA GENERAL ------------------------*/

.header-home-intern{
  background-image: url("../images/bo-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5em 0 0em;
  max-height: 400px;
  color: #ffffff;
}
.intern-head-title{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
}
.bread-link{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  opacity: .5;
}
.bread-link:hover{
  opacity: 1 !important;
}
.bread-link a{
  color: #ffffff;
}
.bread-home:{

}
@media (max-width: 600px){
  .header-home{
    padding: 3em;
  }
}

/*------------------------ QUE ES IDEAT ------------------------*/
.ideat-section{
  padding: 30px 0;
}
.box-pic-ideat{
  text-align: center;
}
.box-pic-ideat img{
  max-width: 200px;
}
.box-ideat{}
.box-ideat h2{
  font-size: 60px;
  font-weight: bold;
  color: #626262;
}
.box-ideat h3{
  font-size: 34px;
  font-weight: lighter;
  color: #626262;
}
.box-ideat p{
  font-size: 14px;
  color: #626262;
}

/*------------------------ OBJETIVOS ------------------------*/
.obj-section{
  padding: 30px 0;
}
.box-pic-obj{
  background-image: url(../images/builds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  max-height: 400px;
  min-height: 300px;
  color: #ffffff;
}
.box-pic-obj h3{
  color: #ffffff;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
}
.box-obj ul li{
  font-size: 14px;
  padding-bottom: 10px;
}
/*------------------------ REFERENCIAS NORMATIVAS ------------------------*/
.rnorm-section{
  padding: 30px 0;
}
.box-pic-rnorm{
  text-align: center;
}
.box-pic-rnorm img{
  max-width: 200px;
}
.box-rnorm{}
.box-blue-rnorm h2{
  font-size: 16px;
  color: #626262;;
}
@media (max-width: 600px){
  .box-pic-rnorm img{
    display: none;
  }
  .box-rnorm h2{
    text-align: center;
    line-height: 30px;
    font-size: 22px;
  }
}
.rnorm-section{
  padding: 30px 0;
}
.box-blue-rnorm{
  font-size: 14px;
  color:#626262;;
}
.box-blue-rnorm ul li{}
/*------------------------ ENTIDADES ------------------------*/
.ent-sec{
  padding: 15px 0;
}
.ent-img-box{
  text-align: left;
}
.ent-img-box img{
  max-width: 100px;
}
.ent-tex-box{
  text-align: left;
}
.ent-tex-box h2{
  color: #626262;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}
.ent-tex-box h3{
  font-size: 16px !important;
  font-weight: lighter !important;
  margin-bottom: 0 !important;
}
.ent-tex-box hr{
  border: 1px solid #26A5EA;
  text-align: left;
}
.ent-tex-box p{
  font-size: 14px;
}
.cycle-gallery{
      position: initial !important;
}

/*======
Slider
======*/
.thumbnail{
  border: none;
}
.carousel-indicators{
  bottom: -20px;
}
.carousel-indicators .active{
  background: #31708f;
}
.content{
  margin-top:20px;
}
.adjust1{
  float:left;
  width:100%;
  margin-bottom:0;
}
.adjust2{
  margin:0;
}
.carousel-indicators li{
  border :1px solid #ccc;
}
.carousel-control{
  color:#31708f;
  width:1%;
}
.carousel-control:hover,
.carousel-control:focus{
  color:#31708f;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.media-object{
  margin:auto;
  margin-top:15%;
}
@media screen and (max-width: 768px) {
  .media-object{
    margin-top:0;
  }
}
/*======
Slider img indicators
======*/
.img-box-ind{
  margin: 15px 0;
  text-align: center;
}
.img-indicator{
  max-width: 50px;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.img-indicator:hover{
  opacity: 1;
  border:1px solid;
}

/*------------------------ COMPONENTES Internas ------------------------*/
.head-component{
  padding: 30px 0;
}
.box-component{
  border: 1px solid;
  border-top: 3px solid ;
  padding: 15px;
  background-color: #EFEFEF;
}
.box-pic-component{
  text-align: center;
}
.box-pic-component img{
  max-width: 65px;
}
.box-text-component {
  padding-top: 10px;
}
.box-text-component h3{
  font-size: 16px;
  color: #626262;
  font-weight: 200;
}
.box-text-component p{
  font-size: 14px;
  color: #626262;
  font-weight: 200;
}

/*--------------------- MARCO NORMATIVO ----------------------*/

.box-mnorm{
  border-color: #23ACE3;
}

.blue-boxes-section{
}
.box-item-mnorm{
  border: 1px solid #23ACE3;
  height: 110px;
  width: 210px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
}
.box-item-mnorm p{
  display: inline-block;
  width: 70%;
  padding-left: 10px;
  line-height: normal;
}
.box-item-mnorm span{
  display: inline-block;
  width: 20%;
  font-size: 30px;
  color: #23ACE3;
  vertical-align: top;
}
.icon-circle-check{
  width: 30px;
}
/*------------------------ TECNOLOGÍA ------------------------*/
.box-tecno{
  border-color: #ED731A;
}
.box-item-tecno{
  border: 1px solid #ED731A;
  height: 110px;
  width: 220px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  overflow: overlay;
}
.box-item-tecno p{
  color: #626262;
  font-size: 14px;
  margin-bottom: 10px;
}
.box-item-tecno hr{
  border: .5px solid #ED731A;
  margin: 0;
}
.items-tecno{
  padding: 15px 0;
}
.mid-colTecno{}
.mid-colTecno h3{
  color: #ED731A;
  font-size: 20px;
  margin-bottom: 10px;
}
.mid-colTecno hr{
  border: .5px solid #ED731A;
  margin: 0 0 10px;
}
.mid-colTecno span{
  display: inline-block;
  font-size: 20px;
}
.mid-colTecno p{
  display: inline-block;
  font-size: 16px;
}

.fig-box1{
  text-align: center;
}
.fig-box1 img{
  max-width: 150px;
}
.fig-box {
  text-align: center;
}
.fig-box img{
  max-width: 350px;
}

/*------------------------ ESTÁNDARES ------------------------*/

.box-standar{
  border-color: #E51A83;
}
.ladm-sec{
  padding: 15px 0;
}
.ladm-sec .icon-ladm{
  color: #E51A83;
  font-size: 30px;
  display: inline-block;
}
.ladm-sec h3{
  color: #E51A83;
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.ladm-sec hr{
  border: .5px solid #E51A83;
  margin: 0 0 10px;
}
.ladm-sec p{}
.item-ladm img{
  max-width: 450px;
  display: inline-block;
  vertical-align: top;
}
.box-ladm{
  border: 1px solid #E51A83;
  height: 250px;
  width: 230px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  overflow: overlay;
}
.box-ladm p{
  color: #626262;
  font-size: 14px;
  vertical-align: middle;
  padding-top: 60px;
}
.box-mod-content{
  /*text-align: center;
  max-width: 900px;
  margin: 0 auto;*/
}
.box-mod{
  background-color: #626262;
  text-align: center;
  height: 160px;
  width: 180px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  overflow: hidden;
  color: #ffffff;
}
.box-mod span{
  font-size: 30px;
}
.box-mod p{
  font-size: 14px;
}
.content-mod{
  vertical-align: middle;
}
.box-mod-image{}
.box-mod-image img{
  max-width: 400px;
}



/*------------------------ MODELO DE GESTIÓN ------------------------*/
.box-gestion{
  border-color: #8DBF42;
}
.gestion-sec{
  padding: 30px 0;
}
.gest-cont{
  margin: 0 auto;
}
.box-mgest{
  border: 1px solid #8DBF42;
  height: 150px;
  width: 250px;
  display: inline-block;
  padding: 15px;
  margin: 5px;
  overflow: overlay;
}
.box-mgest h4{
  color: #8DBF42;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
}
.box-mgest hr{
  border: .5px solid #8DBF42;
  margin: 0 0 10px;
}
.box-mgest p{
  color: #626262;
  font-size: 14px;
}


/*------------------------ CONTACTO ------------------------*/
.contact-sec{
  padding: 30px 0;
}


.box-contact{
    padding: 1em;
    border: 1px solid #E3E3E3;
    max-width: 670px;
    margin: 0 auto;
}
.box-contact h1{
  color: #4B4B4B;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.box-contact p{
  color: #4B4B4B;
  font-size: 14px;
}
.contact-form{}
.contact-form label{
  font-weight: lighter;
}
.contact-form input[type="text"],
.contact-form input[type="mail"]{
  width: 100%;
  height: 34px;
  border: none;
  background-color: #EEEEEE;
  padding: 0 1em;
}
.contact-form textarea{
  width: 100%;
  border: none;
  background-color: #EEEEEE;
  padding: 0 1em;
}
.contact-form button{
  width: 100%;
  border: none;
  background-color: #68BE61;
  color: #ffffff;
  height: 40px;
  font-size: 18px;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.contact-form button:hover{
  background-color: #43ad3a;
}

/*------------------------ INGRESO ------------------------*/
.login-sec{
  padding-top: 3em;
}
.box-log-ideat{
  text-align: center;
}
.box-log-ideat img{
  max-width: 150px;
}
.box-form-login{
  padding: 1em;
  border: 1px solid #E3E3E3;
  max-width: 670px;
  margin: 0 auto;
}
.form-login{}
.form-login label{
  font-weight: lighter;
}
.form-login p{
}
.form-login input[type="mail"], .form-login input[type="password"]{
  width: 100%;
}
.form-login button{
  width: 100%;
  border: none;
  background-color: #68BE61;
  color: #ffffff;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.form-login button:hover{
  background-color: #43ad3a;
}
.text-login{
  text-align: center;
}
.text-login p{}
.text-login a{}
.box-foot-login{
  text-align: center;
  margin-bottom: 2em;
}
.box-foot-login a{}
/*------------------------ DOCUMENTACIÓN ------------------------*/
.gestor-sec{
  padding: 30px 0;
}
/*PILLS*/
.nav-pills{
  font-size: 16px;
  border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color: #fff;
    background-color: #26A5EA;
    border-radius: 0px;
}

/* CONTENIDO*/
@media (max-width: 600px) {
  .tab-content{
    text-align: center;
  }
}
.tab-content h2{
  font-size: 16px;
  color: #626262;
  text-transform: uppercase;
  font-weight: lighter;
}
.tab-content hr{
  size: 1px;
}
.link-tab{
}
.link-tab:hover{
}
.tab-item{
  text-align: center;
  float: left;
  margin: .5em;
  border:1px solid #E3E3E3;
  width: 100%;
  padding: 2em 1em;
  max-width: 200px;
  min-height: 250px;
  display: inline-block;

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.tab-item:hover{
  background-color: #f9f9f9;
}
.list-item{
  font-size: 14px;
  display: inline-block;

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.list-item:hover{
  background-color: #f9f9f9;
}
.tab-pane ul {
  list-style-type: none;
  padding-left: 0px;
}
.list-item .icon-gest{
  font-size: 30px;
}
.tab-item img{
  padding-top: 2em;
  max-width: 80px;
}
.icon-gest{
  margin-top: 1em;
  font-size: 50px;
}
.tab-item h3{
  font-size: 14px;
  text-transform: uppercase;
  color: #26A5EA;
  font-weight: lighter;
  padding-top: 1em;
}
/* ======== ACCORDION ======= */
.panel-title{
  font-size: 16px;
}
/*------------------------ COMPONENTES ------------------------*/
.comp-sec{
  padding: 30px 0;
}
.title-comp{
  color: #626262;
  font-size: 18px;
  text-transform: uppercase;
}
.text-primary{
  color: #26A5EA;
  font-size: 22px !important;
  line-height: 20px !important;
  margin-bottom: 10px  !important;
  text-transform: uppercase;
  font-weight: lighter !important;
}
.visual-list li{
  padding: 1em !important;
  border:1px solid #ffffff;

  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  -ms-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
}
.visual-list li:hover{
  border:1px solid #26A5EA;
  background-color: #EAEAEA;
}
.visual-list img{
  width: 60px;
  height: 60px;
}
.visual-list p {
    margin: 0px 0 10px !important;
}
.visual-list .img-holder{
  margin: 7px 20px 0 0 !important;
  text-align: left !important;
  width: 60px !important;
}
.text-holder h3{
  font-size: 16px !important;
  font-weight: lighter !important;
}
.text-holder p{
  font-size: 14px !important;
  line-height: 20px !important;
}
.model-title{
  color: #8dbf42 !important;

}
.legal-title{
  color:#23ace3 !important;
}
.stand-title{
  color:#e51a83 !important;
}
.tecno-title{
  color:#ed731a !important;
}

/*-----------------IMAGEN-------------------*/
.comp-box{
  text-align: right;
  position: relative;
}
.first-comp{
  max-width: 500px;
}
.comp1{
  position: absolute;
    left: 146px;
    width: 80px;
    top: 30px;

    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    -webkit-transition: ease-out .2s;
  -moz-transition: ease-out .2s;
  -ms-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}
.comp1:hover{
  width: 100px;
  left: 135px;
    top: 20px;
}

.comp2{
  position: absolute;
    left: 434px;
    width: 80px;
    top: 125px;

    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    -webkit-transition: ease-out .2s;
  -moz-transition: ease-out .2s;
  -ms-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}
.comp2:hover{
  width: 100px;
  left: 422px;
    top: 115px;
}

.comp3{
  position: absolute;
    left: 92px;
    width: 80px;
    top: 347px;

    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    -webkit-transition: ease-out .2s;
  -moz-transition: ease-out .2s;
  -ms-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}
.comp3:hover{
  width: 100px;
  left: 82px;
    top: 337px;
}

.comp4{
  position: absolute;
    left: 394px;
    width: 80px;
    top: 348px;

    box-shadow: 1px 1px 13px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    -webkit-transition: ease-out .2s;
  -moz-transition: ease-out .2s;
  -ms-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}
.comp4:hover{
  width: 100px;
  left: 384px;
    top: 338px;
}
