{# {{ kint(content) }} #}
{% if is_front %}
{% set attributes = attributes.setAttribute('id', 'features-first') %}
{% set attributes = attributes.addClass('region--features-first') %}
{% set attributes = attributes.addClass('header-home') %}
<!-- HEADER PRINCIPAL -->
<header {{ attributes }}>
  <div class="container">
    <h1 class="head-title2 col-md-12">Piloto Geoportal</h1>
    <h1 class="head-title1 col-xs-12 col-sm-12 col-md-8 col-lg-8">Infraestructura de datos espaciales para la administración de tierras</h1>
  </div>
</header>
<!-- <h1 class="head-title1">Infraestructura de datos espaciales para la administración de tierras</h1> -->
{% else %}

<header class="header-home-intern">
  <div class="container">
    {% if page_title_var %}
    <h1 class="intern-head-title col-md-12">{{ page_title_var }}</h1>
    <h4 class="bread-link col-md-12"><a class="bread-home" href="index.html">Inicio</a> / {{ page_title_var }} </h4>
    {% else %}
    <h1 class="intern-head-title col-md-12">IDE-AT</h1>
    {% endif %}
  </div>
</header>

{% endif %}
