{#
/**
 * link: https://www.drupal.org/docs/8/theming/twig/debugging-twig-templates
 */
 {{ kint(page) }}
 {{ dump(breadcrumb) }}
#}
<!-- SUB-FOOTER -->
<section class="subfooter">
	<div class="container">
		<div class="info-contact col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h3>Contacto</h3>
			<hr>
			<img src="">
			<img src="">
			<img src="">
			<img src="">
		</div>
		<div class="redes col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h3>Redes Sociales</h3>
			<hr>
			<a class="icon-redes" href="{{url_twitter}}"><span class="icon-twitter"></span></a>
			<a class="icon-redes" href="{{url_youtube}}"><span class="icon-youtube"></span></a>
		</div>
	</div>
</section>
