<!-- Add you custom twig html here -->
<!-- Info Proyecto -->
<section class="icde-section">
	<div class="container agency-section">
		<div class="agency-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
			<img src="{{ theme_path }}/images/agency.jpg">
			<p></p>
		</div>
		<div class="done-box col-sm-12 col-md-6 col-xs-12 col-lg-6">
			<img src="{{ theme_path }}/images/donante.jpg">
			<p></p>
		</div>
	</div>
</section>
