{#
/**
 * link:
 */
#}
<!-- Info Proyecto -->
<section class="">
	<hr>
	<div class="container">
		<div class="icde-img col-sm-12 col-md-2 col-xs-12 col-lg-2">
			<a href="http://www.icde.org.co/" target="_blank"><img src="{{ theme_path }}/images/icde.jpg"></a>
		</div>
		<div class="col-sm-12 col-md-10 col-xs-12 col-lg-10">
			<p class="text-icde">
        {{ text_var }}
      </p>
		</div>
	</div>
</section>
