<!-- HEADER PRINCIPAL -->
<header class="header-home">
  <div class="container">
    <!-- <h1 class="head-title1">Infraestructura de datos espaciales para la administración de tierras</h1> -->
    <h1 class="head-title2 col-md-12">IDE-AT</h1>
    <h1 class="head-title1 col-xs-12 col-sm-12 col-md-8 col-lg-8">Infraestructura de datos espaciales para la administración de tierras</h1>
  </div>
</header>

{% set attributes = attributes.setAttribute('id', 'featured') %}
{% set attributes = attributes.addClass('region--featured') %}
{% if content %}
  <footer {{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </footer>
{% endif %}
