{#
  link: http://cgit.drupalcode.org/glisseo/tree/templates/region/region--footer.html.twig?id=1e51ee319971a58b02bf9f90a61d8f4734629987
#}
{% set attributes = attributes.setAttribute('id', 'footer') %}
{% set attributes = attributes.addClass('region--footer') %}
{% if content %}
  <footer {{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </footer>
{% endif %}
