{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
 link: http://cgit.drupalcode.org/glisseo/tree/templates/region/region--header.html.twig?h=7.x-1.x&id=1e51ee319971a58b02bf9f90a61d8f4734629987
#}
<div>
  <nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
      <div class="top-menu">
        <div class="row">
          <div class="col-xs-2">
            <div id="IDE-AT-logo"><img class="ideat-pic" src="img/logo.png"></div>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li class="active"><a href="index.html">inicio</a></li>
              <li class="has-dropdown">
                <a>Acerca de</a>
                <ul class="dropdown">
                  <li><a href="que-es-ideat.html">Qué es la IDE-AT</a></li>
                  <li><a href="objetivos.html">Objetivos</a></li>
                  <li><a href="referencias-normativas.html">Referencias normativas</a></li>
                  <li><a href="entidades.html">Entidades</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="componentes.html">Componentes</a>
                <ul class="dropdown">
                  <li><a href="marco-normativo.html">Marco normativo</a></li>
                  <li><a href="tecnologia.html">Tecnología</a></li>
                  <li><a href="estandares.html">Estándares</a></li>
                  <li><a href="modelo-gestion.html">Modelo de Gestión</a></li>
                </ul>
              </li>
              <li><a href="contacto.html">Contacto</a></li>
              <li><a href="ingreso.html" class="login-cta">Ingresar</a href="ingreso.html"></li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
</div>
{% set attributes = attributes.setAttribute('id', 'header') %}
{% set attributes = attributes.addClass('region--header') %}
{% if content %}
  <header{{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </header>
{% endif %}
