{% set attributes = attributes.setAttribute('id', 'featured') %}
{% set attributes = attributes.addClass('region--featured') %}
{% set attributes = attributes.addClass('header-home') %}
{% if content %}
  <!-- HEADER PRINCIPAL -->
  <header {{ attributes }}>
    <div class="container">
      <!-- <h1 class="head-title1">Infraestructura de datos espaciales para la administración de tierras</h1> -->
      <h1 class="head-title2 col-md-12">Piloto Geoportal</h1>
      <h1 class="head-title1 col-xs-12 col-sm-12 col-md-8 col-lg-8">Infraestructura de datos espaciales para la administración de tierras</h1>
      {{ content }}
    </div>
  </header>
{% endif %}
