<!-- SUB-FOOTER -->
<section class="subfooter">
  <div class="container">
    <div class="info-contact col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Info de contacto</h3>
      <hr>
      <img src="">
      <img src="">
      <img src="">
      <img src="">
    </div>
    <div class="redes col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <h3>Redes Sociales</h3>
      <hr>
      <img src="">
      <img src="">
      <img src="">
      <div class="suscribe-box">
        <a class="suscribe-btn" href="">Suscríbete</a>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->
<footer>
  <div class="container">
    Copyright © 2017 Diseñado y Desarrollado por Agencia de Implementación Swissphoto-Incige. Todos los Derechos Reservados.
  </div>
</footer>

<!-- http://cgit.drupalcode.org/glisseo/tree/templates/region/region--footer.html.twig?id=1e51ee319971a58b02bf9f90a61d8f4734629987 -->
{% set attributes = attributes.setAttribute('id', 'footer') %}
{% set attributes = attributes.addClass('region--footer') %}
{% if content %}
  <footer {{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </footer>
{% endif %}
