{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
 link: http://cgit.drupalcode.org/glisseo/tree/templates/region/region--header.html.twig?h=7.x-1.x&id=1e51ee319971a58b02bf9f90a61d8f4734629987
#}
{% set attributes = attributes.setAttribute('id', 'header') %}
{% set attributes = attributes.addClass('region--header') %}
{% if content %}
  <header{{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </header>
{% endif %}
