<!-- *@ CUERPO CONTENIDO @* -->

<section class="gestor-sec">
	<div class="container">
		<div class="row">
			<div role="tabpanel">
				<div class="col-sm-3">
					<ul class="nav nav-pills brand-pills nav-stacked" role="tablist">
						<li role="presentation" class="brand-nav active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Repositorio de Modelos</a></li>
						<li role="presentation" class="brand-nav"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Modelo de Calidad</a></li>
						<li role="presentation" class="brand-nav"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Herramientas</a></li>
						<!-- <li role="presentation" class="brand-nav"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Marco Legal</a></li> -->
						<li role="presentation" class="brand-nav"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Cursos</a></li>
						<!-- <li role="presentation" class="brand-nav"><a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">Publicaciones</a></li> -->
						<li role="presentation" class="brand-nav"><a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">Otros recursos</a></li>
						<li role="presentation" class="brand-nav"><a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab">Preguntas frecuentes</a></li>
						<li role="presentation" class="brand-nav"><a href="#tab9" aria-controls="tab9" role="tab" data-toggle="tab">Noticias</a></li>
					</ul>
				</div>
				<div class="col-sm-9">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<h2>MODELO DE DATOS LADM-COL </h2>
							<hr>
							<ul>
								<li>
									<a href="http://repositorio.proadmintierra.info/" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-document"></span>
			                        	Todos los modelos de LADM-COL
	                        		</a>
								</li>
								<li>
									<a href="http://github.com/AgenciaImplementacion/LADM_COL" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-document"></span>
			                        	Código fuente de Modelos LADM-COL
		                        	</a>
								</li>
								<!-- <li>
									<a href="" class="list-item ">
			                        	<span class="icon-gest icon-document"></span>
			                        	LADM-COL Núcleo Catastro-Registro
	                        		</a>
								</li>
								<li>
									<a href="" class="list-item ">
			                        	<span class="icon-gest icon-document"></span>
			                        	LADM-COL POT
		                        	</a>
								</li> -->
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab2">
							<h2>MODELO DE Calidad</h2>
							<hr>
							<ul>
								<!-- <li><a href="" class="list-item ">
			                        	<span class="icon-gest icon-document"></span>
			                        	Documento Conceptual
			                        </a></li> -->
								<li role="presentation" class="brand-nav"><a href="#tab10" class="list-item " aria-controls="tab10" role="tab" data-toggle="tab">
				                        	<span class="icon-gest icon-document"></span>
				                        	Guías de Implementación de Normas
			                        </a>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab3">
							<h2>Herramientas</h2>
							<hr>
							<ul>
								<li><a href="https://github.com/AgenciaImplementacion/Visor_Geoportal" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-visor"></span>
		                        	Visor Geográfico</a>
								</li>

								<li><a href="https://gogs.proadmintierra.info/desarrollo/iliValidator" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-validate"></span>
		                        	Validación de Datos</a>
								</li>

								<li><a href="https://github.com/AgenciaImplementacion/file-manager" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-document"></span>
		                        	Repositorio Documental</a>
								</li>

								<li><a href="https://github.com/AgenciaImplementacion/iliSuite/blob/master/docs/iliSuite_help_es.pdf" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-circle-place"></span>
		                        	ILISuite</a>
								</li>

								<li><a href="https://github.com/AgenciaImplementacion/umleditor/blob/master/docs/Manual%20UML-Editor.pdf" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-circle-place"></span>
		                        	UMLEditor</a>
								</li>

								<li><a href="http://plugins.qgis.org/plugins/asistente_ladm_col" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-circle-place"></span>
		                        	QGIS Plugin - Asistente LADM-COL</a>
								</li>

								<li><a href="http://plugins.qgis.org/plugins/projectgenerator" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-circle-place"></span>
		                        	QGIS Plugin - Project Generator</a>
								</li>

								<!-- <li><a href="" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-mobile"></span>
		                        	Geo-Apps</a>
								</li> -->

								<li><a href="https://github.com/AgenciaImplementacion" target="_blank" class="list-item ">
		                        	<span class="icon-gest icon-git"></span>
		                        	Repositorio de Código Fuente (github)</a>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab4">
							<h2>Marco Legal</h2>
							<hr>
							<ul>
								<li>
									<a href="" class="list-item ">
			                        	<span class="icon-gest icon-legal"></span>
			                        	Lista de Leyes y Reglamentos pertinentes
		                        	</a>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab5">
							<h2>Cursos</h2>
							<hr>
							<ul>
								<li>
									<a href="https://www.proadmintierra.info/single-post/2018/02/14/Convocatoria-Curso-Introducci%C3%B3n-al-desarrollo-de-plugins-para-QGIS-3-con-Python" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-course"></span>
			                        	Introducción al desarrollo de plugins para QGIS 3 con Python (27 feb. 2018)
		                        	</a>
								</li>
								<li>
									<a href="/sites/default/files/material/P1.3.1_Taller_1_Sesiones.pdf" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-show"></span>
			                        	Evaluación y Gestión de la Calidad de Datos en la Administración de Tierras()
		                        	</a>
								</li>
								<li>
									<a href="/sites/default/files/material/P1.3.3_Taller_1_Magistral_1.pdf" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-show"></span>
			                        	Conferencia magistral  "Evaluación y Gestión de la Calidad de Datos en la Administración de Tierras", IGAC.()
		                        	</a>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab6">
							<h2>Publicaciones y Congresos</h2>
							<hr>
							<ul>
								<li>
									<a href="" class="list-item ">
			                        	<span class="icon-gest icon-show"></span>
			                        	Instituto Panamericano de Geografía e Historia (ipgh)/Revista Cartográfica N° 95
		                        	</a>
								</li>

								<li>
									<a href="" class="list-item ">
			                        	<span class="icon-gest icon-show"></span>
			                        	Conferencia y reunión anual de la comisión 7 de la FIG Cartagena
		                        	</a>
								</li>
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab7">
							<h2>Otros Recursos</h2>
							<hr>
							<ul>
								<li>
									<li>
										<a href="https://www.youtube.com/channel/UCzWCy5tCs77ZNblFxi9b_Og" target="_blank" class="list-item ">
				                        	<i class="icon-gest icon-youtube"></i>
				                        	Acceso a Youtube
		                        		</a>
									</li>

									<!-- <li>
										<a href="" class="list-item ">
				                        	<span class="icon-gest icon-download"></span>
				                        	Descarga datos
		                        		</a>
									</li>

									<li>
										<a href="" class="list-item ">
				                        	<span class="icon-gest icon-document"></span>
				                        	Directorio de servicios
		                        		</a>
									</li>

									<li>
										<a href="" class="list-item ">
				                        	<span class="icon-gest icon-square-check"></span>
				                        	Visibilidad Proyecto
		                       		 	</a>
									</li>

									<li>
										<a href="" class="list-item ">
				                        	<span class="icon-gest icon-show"></span>
				                        	Animación Contenidos IDE-AT
		                        		</a>
									</li> -->
							</ul>
						</div>
						<div role="tabpanel" class="tab-pane" id="tab8">
							<h2>FAQ</h2>
							<hr>

							<div class="panel-group" id="accordion">

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">¿Cómo se construye un modelo extendido por entidad a partir del modelo núcleo?</a>
								        </h4>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">El modelo extendido por tema o entidad aborda de forma específica aquellos elementos que permiten una detallada caracterización de las afectaciones que en el territorio se presentan.. Se parte del modelo núcleo, a partir del cual se construye
											el modelo extendido, garantizando de esta forma la interoperabilidad y homogeneidad entre modelos, ya que se tienen una base ontológica y semántica común a través de la ISO 19152.. Los pasos identificados para este fin, de forma indicativa
											son:
											<ol>
												<li>Conocer qué es, y cuál es el enfoque de la ISO 19152:2012 Land Administration Domain Model.</li>
												<li>Definir el alcance del modelo extendido.</li>
												<li>Desarrollar la matriz de los principales objetos territoriales que la institución domina y de los cuales existe un sustento normativo o legal.</li>
												<li>Construir el modelo extendido de la institución, a partir del modelo núcleo.</li>
												<li>Cumplimentar las restricciones de competencia de la institución.</li>
											</ol>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">¿Cuál es el rol de la ICDE en la IDE-AT?</a>
								        </h4>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">La ICDE es la instancia articuladora en la gestión de la producción y acceso a la información geográfica, que promueve la implementación de políticas, la estandarización y el desarrollo de estrategias orientadas a la accesibilidad e interoperabilidad
											de recursos geoespaciales, como base para la toma de decisiones. De esta forma, la ICDE es un referente, tanto desde el punto de vista técnico, como normativo y estandarizador, de las diferentes iniciativas o proyectos IDE del país. Puede encontrar
											más información en la página Web de la ICDE: <a href="http://www.icde.org.co/" target="_blank">http://www.icde.org.co/</a></div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">¿Cómo apoya el Proyecto para la Modernización de la Administración de Tierras de la Cooperación Suiza a las entidades involucradas?</a>
								        </h4>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">El Proyecto tiene como objetivo apoyar a las entidades reguladoras en el proceso para la modernización de la Administración de Tierras en Colombia, fortaleciendo la delegación de competencias. Desde esta perspectiva, se está apoyando a la propuesta
											del Perfil Colombiano para la Administración de Tierras, bajo los lineamientos y enfoque de la ISO 19152:2012 (LADM), como Modelo Único del Dominio de la Administración de Tierras. El apoyo del proyecto incluye la capacitación en la conceptualización
											del LADM, en la comprensión del modelo núcleo de Colombia y en la adecuación de un modelo propio para la institución.
											<br>Puede encontrar más información en la página Web del Proyecto en <a href="https://www.proadmintierra.info/" target="_blank">https://www.proadmintierra.info/</a>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">¿Qué es INTERLIS? ¿Qué relación tiene con la adopción de ISO 19152:2012 LADM?</a>
								        </h4>
									</div>
									<div id="collapse4" class="panel-collapse collapse">
										<div class="panel-body">INTERLIS es un lenguaje de esquema conceptual (Conceptual Schema Language - CSL), que sirve para la descripción de modelos, si bien se puede utilizar para cualquier otro lenguaje, INTERLIS está extendido en modelos geoespaciales, puesto que
											incluye varios tipos de geometrías.
											<br>INTERLIS es de utilidad para la adopción de LADM, puesto que facilita la construcción del modelo físico de datos, con funcionalidades especiales de transferencia y transacciones que no contempla el LADM. Además, siendo un lenguaje orientado
											a objetos y conocer conceptos como herencia, es idóneo para implementar modelos extendidos de un núcleo, como en el caso de la planteada modularidad del LADM-COL.</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">¿Qué necesita cada entidad para adoptar y adaptarse al Perfil Colombiano para la Administración de Tierras basado en la ISO 19152:2012 LADM?</a>
								        </h4>
									</div>
									<div id="collapse5" class="panel-collapse collapse">
										<div class="panel-body">El diseño de modelos que respondan a los procesos misionales de cada una de las entidades involucradas en la Administración del Territorio, es una necesidad para lograr un escenario de interoperabilidad entre datos y servicios. Desde una perspectiva
											general, las entidades que opten por considerar la ISO 19152:2012 LADM deben partir de un conocimiento de esta norma internacional, sobre todo en lo que se refiere a su enfoque y objetivos, así como involucrar a los diferentes perfiles técnicos
											para su adopción.</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">¿Qué es una afectación? ¿Por qué es necesario incorporar las afectaciones al Perfil Colombiano para la Administración de Tierras?</a>
								        </h4>
									</div>
									<div id="collapse6" class="panel-collapse collapse">
										<div class="panel-body">Una afectación es el efecto que tiene una legislación pública sobre los bienes inmuebles privados. Son importantes porque reflejan en un predio de catastro o finca del registro, las limitaciones que se tienen al uso, a la ocupación o al dominio.</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">¿Qué entidades deben adaptar el Perfil Colombiano para la Administración de Tierras?</a>
								        </h4>
									</div>
									<div id="collapse7" class="panel-collapse collapse">
										<div class="panel-body">Las entidades que tienen responsabilidad normativa de carácter público sobre la Administración del Territorio. Por consiguiente, son claves temas como recursos naturales, infraestructuras públicas, gestión del riesgo, ordenamiento territorial,
											protección del patrimonio histórico, servidumbres fronterizas, servidumbres costeras, etc.</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">¿Este Modelo Núcleo para la Administración de Tierras remplaza a los existentes en cada entidad?</a>
								        </h4>
									</div>
									<div id="collapse8" class="panel-collapse collapse">
										<div class="panel-body">No. Este modelo núcleo estandariza la semántica de los datos relacionados con la Administración de Tierras, y facilita la interoperabilidad de los sistemas existentes o nuevos, bajo una norma estándar.</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
								          <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">¿Qué diferencia existe entre el Modelo Núcleo y los Modelos Extendidos para la Administración de Tierras?</a>
								        </h4>
									</div>
									<div id="collapse9" class="panel-collapse collapse">
										<div class="panel-body">El modelo núcleo contiene los elementos comunes del negocio de Administración de Tierras. Los modelos extendidos complementan el modelo núcleo en temas específicos, como es el caso de las afectaciones (restricciones, responsabilidades) sobre
											el territorio.</div>
									</div>
								</div>

							</div>

						</div>
						<div role="tabpanel" class="tab-pane" id="tab9">
							<h2>Noticias</h2>
							<hr>
							<ul>
								<li>
									<a href="/noticias" target="_blank" class="list-item ">
			                        	<span class="icon-gest icon-news"></span>
			                        	Conozca las últimas noticias
		                        	</a>
								</li>
							</ul>
						</div>

						<div role="tabpanel" class="tab-pane" id="tab10">
							<h2>Guías</h2>
							<hr>
							<ul>
								<li>
									<a href="/sites/default/files/material/guides/Gu_a_Elaboracion_Muestreo_V.1.1.pdf" target="_blank" class="list-item ">
										<span class="icon-gest icon-document"></span>
										Guía de implementación para la elaboración de muestreos
									</a>
								</li>
								<li>
									<a href="/sites/default/files/material/guides/Gu_a_Especificaciones_T_cnicas_V.0.4.pdf" target="_blank" class="list-item ">
										<span class="icon-gest icon-document"></span>
										Guía de implementación de Especificaciones Técnicas para productos de datos geográficos
									</a>
								</li>
								<li>
									<a href="/sites/default/files/material/guides/Gu_a_Evaluaci_n_Calidad_V.1.1.pdf" target="_blank" class="list-item ">
										<span class="icon-gest icon-document"></span>
										Guía de implementación para la Evaluación de la calidad de información geográfica
									</a>
								</li>
								<li>
									<a href="/sites/default/files/material/guides/Gu_a_Plan_Calidad_V.1.1.pdf" target="_blank" class="list-item ">
										<span class="icon-gest icon-document"></span>
										Guía de Implementación Plan de Calidad
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- *@ /FIN CUERPO CONTENIDO @* -->
